{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if item_selected == True %}
        <h1>Item selected: {{ title }}</h1>        
    {% else %}
        <h1>All Pages</h1>
    {% endif %}
    <ul>
        {% for entry in entries %}
            <li> <a href="{% url 'wiki:index' %}{{ entry }}"> {{ entry }} </a> </li>
        {% endfor %}
    </ul>

    {% if definition == "" %}
        <h1>No data found</h1>
    {% else %}

        {% autoescape off %}
            {{ definition }}
        {% endautoescape %}

        {% if item_selected == True %}

            <br/><br/>
            <div id="btnEdit">
                <a href="{% url 'wiki:edit' item=title %}"> Edit </a>
            </div>
        {% endif %}        
        

    {% endif %}

    

{% endblock %}